<!-- FAQ section -->

<section id="help">
  <div class="bg-white">
    <div class="mx-auto py-16 px-4 sm:px-6 lg:max-w-7xl lg:py-16 lg:px-8">
      <div class="lg:grid lg:grid-cols-3 lg:gap-8" itemscope itemtype="https://schema.org/FAQPage">
        <div>
          <h2 class="text-3xl font-extrabold text-gray-900">Frequently asked questions</h2>
          <p class="mt-4 text-lg text-gray-500">Have some questions about Gmail mail merge? Let us help you out!</p>
        </div>
        <div class="mt-12 lg:col-span-2 lg:mt-0">
          <dl class="space-y-12">
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt class="text-lg font-medium leading-6 text-gray-900">What is a mail merge in Gmail?</dt>
              <dd class="mt-2 text-base text-gray-500" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                A mail merge is a method for sending multiple emails to multiple recipients all at the same time. Manually sending an individual email for every recipient in a
                contact list can be long and time-consuming – mail merges let you reach those recipients without them ever knowing they were part of a mailing list. In short,
                they’re a quick and easy way to reach large audiences with your emails.
              </dd>
            </div>
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt class="text-lg font-medium leading-6 text-gray-900">How do I send a personalized mass email in Gmail?</dt>
              <dd class="mt-2 text-base text-gray-500" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                To send a personalized mass email in Gmail, you’ll need a mail merge extension. These mail merge extensions often have a personalization feature that can help you
                tailor each email on a contact list to the individual recipient – helping to improve open rates and often deliverability too.
              </dd>
            </div>
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt class="text-lg font-medium leading-6 text-gray-900">Is there a free mail merge for Gmail?</dt>
              <dd class="mt-2 text-base text-gray-500" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                There are a number of free mail merge tools available for Gmail. One of the best free mail merge for Gmail is <a href="https://mailmeteor.com">Mailmeteor</a>, the
                top-rated extension for mail merge on the Google Marketplace.
              </dd>
            </div>
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt class="text-lg font-medium leading-6 text-gray-900">What is the best mail merge tool for Gmail?</dt>
              <dd class="mt-2 text-base text-gray-500" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                The best-rated mail merges for Gmail is <a href="https://mailmeteor.com">Mailmeteor</a>, an extension used by over 3 million individuals and businesses to reach
                hundreds of recipients with every click. With personalization, real-time tracking and more, Mailmeteor is a reliable and cost-effective mail merge solution for
                Gmail.
              </dd>
            </div>
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <dt class="text-lg font-medium leading-6 text-gray-900">Is mail merge safe?</dt>
              <dd class="mt-2 text-base text-gray-500" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                Mail merge for Gmail is completely safe provided that you use the right mail merge extension. Before installing any mail merge software for Gmail, make sure to
                review all permissions required by the add-ons. Some mail merge add-ons will ask to read, modify or delete permanently your emails, which can seem a bit invasive
                just to send emails on your behalf. Software such as <a href="https://mailmeteor.com">Mailmeteor</a> require only the most minimal of privacy permissions to
                function which means that your information, and more importantly, the information of your recipients is kept safe and secure.
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
