<!-- FAQ section -->

<section>
  <div class="bg-white">
    <div class="mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:py-16 lg:px-8">
      <div class="lg:grid lg:grid-cols-3 lg:gap-8">
        <div>
          <h2 class="text-3xl font-extrabold text-gray-900">Frequently asked questions</h2>
          <p class="mt-4 text-lg text-gray-500">Have some questions about Gmail mail merge? Let us help you out!</p>
        </div>
        <div class="mt-12 lg:col-span-2 lg:mt-0">
          <dl class="space-y-12">
            <div>
              <dt class="text-lg font-medium leading-6 text-gray-900">What is a mail merge in Gmail?</dt>
              <dd class="mt-2 text-base text-gray-500">
                A mail merge is a method for sending multiple emails to multiple recipients all at the same time. Manually sending an individual email for every recipient in a
                contact list can be long and time-consuming – mail merges let you reach those recipients without them ever knowing they were part of a mailing list. In short,
                they’re a quick and easy way to reach large audiences with your emails.
              </dd>
            </div>
            <div>
              <dt class="text-lg font-medium leading-6 text-gray-900">How do I send a personalized mass email in Gmail?</dt>
              <dd class="mt-2 text-base text-gray-500">
                To send a personalized mass email in Gmail, you’ll need a mail merge extension. These mail merge extensions often have a personalization feature that can help you
                tailor each email on a contact list to the individual recipient – helping to improve open rates and often deliverability too.
              </dd>
            </div>
            <div>
              <dt class="text-lg font-medium leading-6 text-gray-900">Is there a free mail merge for Gmail?</dt>
              <dd class="mt-2 text-base text-gray-500">
                There are a number of free mail merge tools available for Gmail – one of the leading options is Mailmeteor, the top-rated extension for mail merge on the Google
                Marketplace. Find out more about its pricing options here.
              </dd>
            </div>
            <div>
              <dt class="text-lg font-medium leading-6 text-gray-900">What is the best mail merge tool for Gmail?</dt>
              <dd class="mt-2 text-base text-gray-500">
                The top-rated tool for mail merges in Gmail is Mailmeteor, an extension used by over 32.5 million individuals and businesses to reach hundreds of recipients with
                every click. With personalization, real-time tracking and more, Mailmeteor is a reliable and cost-effective mail merge solution for Gmail.
              </dd>
            </div>
            <div>
              <dt class="text-lg font-medium leading-6 text-gray-900">How do you make holy water?</dt>
              <dd class="mt-2 text-base text-gray-500">You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
            </div>
            <div>
              <dt class="text-lg font-medium leading-6 text-gray-900">Is mail merge safe?</dt>
              <dd class="mt-2 text-base text-gray-500">You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
